$align: left;
$bg-color: #FFF;
$color-01: #e63d34;
$color-02: #dcdcdc;
$color-03: #666;
$color-04: #3d3d3d;
$color-default: #202020;
$font-big: 3rem; 
$font-family-default: 'Exo 2', sans-serif, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem; $tablet: 999px; 