
header .container {

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .hero {
        align-items: flex-start;
        justify-content: center;
        background-image: url('../assets/images/bnr.jpg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        height: 70vh;
        display: flex;
        flex-flow: column;
        padding-bottom: 0rem;
        width: 100%;
        text-align: left;

        .text {
            width: 40%;
        }

        h1 {
            padding: 1rem 0 0;
            text-align: left;
            width: 100%;
        }

        h4{
            color: $color-secondary
        }
    }

}