.destack {
    background-color: $bg-color;
    padding: $space-default;
    border-top: 1px solid $color-02;
    border-bottom: 1px solid $color-02;
    h1 {
        color: $color-default;
        font-size: 5vw;
        font-family: $font-family-default;
        margin-top: 0;
        text-align: center;
    }
    h2 {
        text-align: center;
        font-size: $font-medium;
        margin-top: $mt;
        margin-bottom: $mb;
        color: $color-01;
    }
    img {
        width: 100%;
        height: auto;
        margin: $space-default auto;
    }
    p {
        font-size: $font-normal;
        color: $color-default;
        padding: 2rem 0;
        max-width: 600px;
        margin: auto;
    }
}